<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Développé et conçu par DIENG Ibra.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/ibra-dieng/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Diengsalla1990" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="diengdev11crypto@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        
      </div>
    </div>
  </div>
</footer>
