<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic">À propos de moi.</h2>
                <p class="default-p">
                    Je m'appelle DIENG Ibra et j'aime <span class="default-highlight">créer un logiciel à partir d'une idée</span>.
                </p>
                <p>
                    <img src="../../assets/ib.jpg" alt="Ibra dieng " height="500" width="600" class="about-picture">
                </p>
                <p class="default-p">Je suis un développeur fullstack Java / Angular passionné par le développement logiciel et les nouvelles technologies. Curieux et rigoureux, 
                    je conçois des applications web performantes, maintenables et centrées sur l’expérience utilisateur.

                    Grâce à mon expertise en Java (Spring Boot) pour le back-end et Angular pour le front-end,
                     je suis capable de gérer toutes les étapes d’un projet, 
                    de l’analyse des besoins à la mise en production. J
                    ’attache une grande importance à la qualité du code,
                     aux bonnes pratiques (Clean Code, tests unitaires, 
                     intégration continue) et au travail collaboratif.

                    Ce que j’aime dans ce métier, c’est apprendre constamment,
                     résoudre des problèmes concrets et construire des solutions utiles avec des équipes motivées.
    
                    
                </p>
    
        
                <p class="default-p">
                   Maintenant que vous avez lu jusqu’ici, permettez-moi de conclure avec une dernière réflexion.
                </p>
                <p class="default-p">
                   L'humanité est une espèce qui repousse sans cesse les limites de la technologie. Nous sommes des explorateurs dans l'âme.
                </p>
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Contactez-moi.</h2>
                    <p class="default-p">
                       Suivez-moi sur les réseaux sociaux, consultez mon compte GitHub pour les projets, ou <span class="default-highlight">contactez-moi pour organiser une réunion</span>.
                        Je serais heureux de discuter de la façon dont mes <span class="default-highlight">compétences pour résolution des problèmes</span> peut vous aider à relever les défis auxquels vous êtes confrontés.
                    </p>
                    <button>
                        <a routerLink="/contact" class="a-green">
                            > Contactez moi
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
