<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/ib.jpg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                DIENG_Ibra
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">Développeur Fullstack</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/ibra-dieng/" target="_blank" class="a-green">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/Diengsalla1990" target="_blank" class="a-green">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="diengdev66@gmail.com" class="a-green">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                </div>
            </div>

            <p class="contact-paragraph">
                Je suis toujours ravi de collaborer sur de nouveaux projets et d'explorer des solutions innovantes.
                Si vous recherchez un développeur logiciel Fullstack dédié pour donner vie à vos idées,
                prenons rendez-vous pour un appel. Discutons de la façon dont  <span class="default-highlight">
                nous pouvons travailler ensemble pour atteindre vos objectifs.</span>.
            </p>
            <button>
                <a href="https://www.linkedin.com/in/ibra-dieng/" target="_blank" class="a-green">
                > Envoyez-moi un message sur LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
