<div class="accordion-left">
  <mat-accordion>
    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Langages</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Niveau B2 <strong><span class="default-highlight">Anglais</span></strong></p>
        <p>langue natal <strong><span class="default-highlight">Français</span></strong></p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Formations Universitaires</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>2025 - Openclassroom - <strong><span class="default-highlight">Dev Fullstack Java/Angular</span></strong> -Diplôme RNCP 7 de niveau 7</p>
        <ul>
          <li>Licence Informatique avec plusieurs Projets et Technologies apprises</li>
        </ul>
        <p>2021 - UBO - <strong><span class="default-highlight">Informatique</span></strong> - Licence 3 Fondements & Applications</p>
        <ul>
          <li>Licence Informatique avec plusieurs Projets et Technologies apprises</li>
        </ul>
       
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Techniques</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="accordion-text">
        <p>Openclassroom - <strong><span class="default-highlight">Développement Fullstack Spring Boot avec Java, et Javascript Angular</span></strong> - Septembre/2025</p>
        <ul>
          <li>
            Formation en développement logiciel axée sur les applications Fullstack.
             Technologies : Spring Boot Data JPA, Spring Security, Web, Data JDBC, JWT, Flyway Core, SQL et PostgreSQL, 
             ainsi qu'Angular, Typescript, Javascript, HTML, CSS, Docker, Kubernetes, CI/CD Github Action et bien plus encore.
          </li>
        </ul>
        <p>Université de Bretagne Occidental- <strong><span class="default-highlight">Fondements et Application</span></strong> - Juin/2021</p>
        <ul>
          <li>
            Licence informatique Fondements et Application
        Java 8, Ingénieurie Logicielle (UML..), C, Intélligence   Artificielle, Framework PHP (CodeIgniter, Laravel 8, Symphonie , etc ....)
          </li>
        </ul>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="customClass accordion-title">
      <mat-expansion-panel-header>
        <mat-panel-title>Technologies Utilisées</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tech-board">
        <div class="tech-cell">
          <i class="devicon-java-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-spring-original-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-hibernate-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-postgresql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-mysql-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-sqlite-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-angular-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-typescript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-javascript-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-html5-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-css3-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-bootstrap-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-python-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-flask-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-poetry-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-selenium-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-playwright-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-docker-plain-wordmark colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-kubernetes-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-git-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-github-original colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-jira-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-vscode-plain colored"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-intellij-plain colored"></i>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>