<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Développeur Logiciel fullstack.</h1>
        <h2 class="home-author">Ibra DIENG, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
           Je suis développeur junior dans la création de logiciels.
           Je mets à profit ma maîtrise de beaucoup de technologie,
           mes études supérieures et mes compétences en codage pour créer des applications accessibles, 
           évolutives et performantes.

        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Regardé Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  